{% extends "dashboard.html" %}
{% block content %}
<br><br>
<div class="dashboard-form">
    <h1>Add Task</h1>
        <p style="text-align: center;">All Fields are Mandatory.
            <br>Enter Task Deadline field in this format: 'YYYY-MM-DD HH:MM:SS'</p><br><br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
            <div class="input">{{ form.task_name.label(class="input-label") }}
            {{ form.task_name(size=32, class="input-txtbox") }}</div><br>

            <div class="input">{{ form.task_description.label(class="input-label") }}
            {{ form.task_description(size=32, class="input-txtbox") }}</div><br>

            <div class="input">{{ form.task_deadline.label(class="input-label") }}
            {{ form.task_deadline(size=32, class="input-txtbox") }}</div><br>

            <div class="input">{{ form.task_status.label(class="input-label") }}
            {{ form.task_status(size=32, class="input-txtbox") }}</div><br>

            <div class="input">{{ form.task_priority.label(class="input-label") }}
            {{ form.task_priority(size=32, class="input-txtbox") }}</div><br>
            
        
            <div class="input-submit">{{ form.submit(class="input-button") }}</div>
</div>
<br><br><br>
{% endblock %}