{% extends "dashboard.html" %}

{% block content %}

<br><br><br>
<h1 class="dashboard-titles">All Tasks</h1><br><br>
{% for i in data %}
{% if i.user_id == user.id %}

<div class="dashboard-box">

    
        <h2>Task ID: {{ i.task_id }}</h2> <br><br>
    <p>
        Name: {{ i.task_name }}<br><br>
        Description: {{ i.task_status }}<br><br>
        Deadline: {{ i.task_deadline }}<br><br>
        Status: {{ i.task_status }}<br><br>
        Priority: {{ i.task_priority }}<br><br>
    </p>
</div>
<br>
{% endif %}
{% endfor %}
<br><br>
<button class="dashboard-buttons" onclick="seeJson()">See JSON</button>

<script>
    function seeJson() {
        window.location.href = "{{ url_for('get_tasks') }}";
    }
</script>
<br><br><br>
{% endblock %}