<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css"/>
    <title>TaskHub ~ Dashboard</title>
</head>
<body>

    <nav>
        <div class="heading">TaskHub Dashboard
            <p>Welcome, {{ username }}</p>
        </div>
        <span class="sideMenuButton" onclick="openNavbar()">☰</span>

        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Return to Dashboard</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="sideNavigationBar" 
        id="sideNavigationBar">
        <a href="#" 
            class="closeButton" 
            onclick="closeNavbar()">❌
        </a>
        <a href="{{ url_for('dashboard') }}">Return to Dashboard</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div> 

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            <br>
            {% for category, message in messages %}
                <div class="flash-{{ category }}">{{ category }}! {{ message }}</div>
            {% endfor %}
            <br>
        </div>
    {% endif %}
    {% endwith %}
    {% block content %}
    <br><br>
    <div class="dashboard">
        <h1>Your Tasks</h1><br><br><br><br>
        <grid>
            <p><a href="/all-tasks">View All Tasks</a></p>
            <p><a href="/get-one-task">View a Task</a></p>
            <p><a href="/add-task">Add New Task</a></p>
            <p ><a href="/update-task">Update Existing Task</a></p>
            <p><a href="/delete-task">Delete a Task</a></p>
        </grid>
    </div>
    {% endblock %}

    <footer>
        <div class="footer1">
            <a class="links" href="https://github.com/dinuhifi" target="_blank"><img src="../static/images/githublogo.png" width="40"><span>My GitHub Page</span></a>
            <a class="links" href="https://discordapp.com/users/708875392278200361" target="_blank"><img src="../static/images/discordlogo.png" width="40"><span>Text me on Discord</span></a>
            <span>
                Created By @dinesh.was.taken, at gunpoint by Delta (inspired from @hotaru_hspr)
            </span>
        </div>
    </footer>

    <script>
        function openNavbar() {
            document.getElementById("sideNavigationBar").style.width = "250px";
        }
    
        function closeNavbar() {
            document.getElementById("sideNavigationBar").style.width = "0";
        }
    </script>
    
</body>
</html>