{% extends "dashboard.html" %}

{% block content %}
<br><br><br>
<h1 class="dashboard-titles">View a Task</h1>

<div class="dashboard-box">

    <form class="box" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="input">{{ form.task_id.label(class="input-label") }}</div>
        <div class="input">{{ form.task_id(size=32, class="input-txtbox") }}</div> <br><br>
        <div class="input-submit">{{ form.submit(class="input-button") }}</div>
    </form>

</div>
<br><br>
{% if data %}

<div class="dashboard-box">
    
    <h2>Task ID: {{ data.task_id }}</h2> <br><br>
    <p>
        Name: {{ data.task_name }}<br><br>
        Description: {{ data.task_status }}<br><br>
        Deadline: {{ data.task_deadline }}<br><br>
        Status: {{ data.task_status }}<br><br>
        Priority: {{ data.task_priority }}<br><br>
    </p>
</div>

{% endif %}

<br><br>
<button class="dashboard-buttons" onclick="seeJson()">See JSON</button>
<script>
    function seeJson() {
        window.location.href = "{{ url_for('get_task') }}";
    }
</script>
<br><br><br>
{% endblock %}